button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:white;
    color: black;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 24px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    
}
.eql{
    color: white;
    background-color: orange;
}
.operator-btn{
    color:orange;
    background-color: white;
}
.operator-btn:hover{
    background-color: rgb(153, 150, 150);
}
#display{
    width: 500px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:rgb(164, 160, 160);
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}